In [8]:
#print 0 to 20 using range
r = range(20)
for n in r:
    print(n)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [16]:
#print range 10 to 20 in single line
r = range(10, 20)
for v in r:
    print(v, end=" ")

10 11 12 13 14 15 16 17 18 19

In [22]:
# print number of items in the list using len 
List2=[10,20,14,55,43,87,76] 
print(List2)
print("Number of item in the List2:\n",len(List2))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
 7

In [36]:
#print the string value in sequence
course_name = "Artificial Intelligence"
print(course_name)
for char in course_name:
    print(char)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [38]:
#print statement 
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [52]:
# Creating a Tuple with Mixed Datatype
tup1 = (1, 'Welcome', 2, 'Geeks')
print(tup1)

(1, 'Welcome', 2, 'Geeks')

In [56]:
#Creating tuple with nested tuple
tuple1=(0,1,2,3)
tuple2=('Python','Hope')
tuple3=(tup1,tup2)
print(tup3)

((0, 1, 2, 3), ('Python', 'Hope'))

In [58]:
#Creating tuple with concatenation
tuple1=(0,1,2,3)
tuple2=('Python','Hope')
tuple3=tuple1+tuple2
print(tuple3)

(0, 1, 2, 3, 'Python', 'Hope')

In [48]:
#print odd numbers in the list
list1=(20,10,16,19,25,1,276,188)
for num in list1:
    if(num%2!=0):
        print(num,"is odd")

19 is odd
25 is odd
1 is odd

In [50]:
#print even numbers in the list
list1=(20,10,16,19,25,1,276,188)
for num in list1:
    if(num%2==0):
        print(num,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even