In [ ]:
#1.Find the error in the following Python code:
import math
print(Math.sqrt(16))
# it should be specified as math in print statement as python code is case sensitive 
# Name error as it takes Math as different variable which is not defined earlier

In [ ]:
#1.correct code
import math
print(math.sqrt(16))

In [ ]:
#2.Find the error in the following Python code:
def my_function():
    x += 5
    print(x)

x = 10
my_function()
# here x is assigned to 10 before calling the function and inside the function we are trying to do operation with x(local variable as per the function)
# without assigning it so unboundlocal error occurs
# To overcome it either we need to make the assignment within the function or we need to declare the variable as global in the function

In [ ]:
# correct code 1: assignment within the function
def my_function():
    x = 10
    x += 5
    print(x)


my_function()

In [ ]:
# correct code 2: Declaring x as global variable
def my_function():
    global x
    x += 5
    print(x)

x = 10
my_function()

In [ ]:
#3.
x = 5
if x = 10:
    print("x is 10")
# here = is used instead  of == (equality operator) which is used for comparison

In [ ]:
# correct code
x = 5
if x==10:
    print("x is 10")
else:
   print("x is",x)

In [ ]:
#4.
numbers = [5, 3, 8, 2]
print(numbers.sort())
# sort() will sort the list and returns none, so we will get output as none for the above code
# either we can sort the number before the print statement and print them or we can use sorted(numbers) in the print statement

In [1]:
# correct code 1: using sorted in print statement
numbers = [5, 3, 8, 2]
print(sorted(numbers))

[2, 3, 5, 8]

In [3]:
# correct code 2: sort the numbers before print statement using sort()
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [ ]:
#5.
def square(n):
    n * n

print(square(4))
# we will get none as output as the function does not return any value

In [5]:
# correct code
def square(n):
    return n * n

print(square(4))

16

In [ ]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5
# as tuples are immutable it does not support item assignment

In [11]:
# correct code to change the value from 2 to 5 in the tuple:
my_tuple=(1,2,3)
my_tuple=my_tuple[:1] + (5,) + my_tuple[2:]
print(my_tuple)
# concatenate tuples based on the index position

(1, 5, 3)

In [ ]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name))
# required arguments are not passed here for formatting

In [13]:
# correct code
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name,age))

My name is Alice and I am 25 years old

In [ ]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a is b:
    print("Lists are equal")
# is checks if the two variables point to the same object, so here we will not get any output as they didn't use same object

In [15]:
# code to print 
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

Lists are equal

In [ ]:
#9.
for i in range(5, 1):
    print(i)
# first value is range denotes - start value, second value denotes stop value and the third one is step value
# here stop value is less than start value so we will not get any output

In [17]:
# correct code 1
for i in range(5):
    print(i)

0
1
2
3
4

In [19]:
# correct code 2
for i in range(5,10):
    print(i)

5
6
7
8
9

In [ ]:
#10.
student = {"name": "John", "age": 20}
print(student[name])
# Name error: Name is not defined
# to access dictionary values we should mention the variable within quotes

In [21]:
student = {"name": "John", "age": 20}
print(student["name"])

John